<div id="cn-foot">
	<div id="cn-foot-inner">
		<footer>
			<h2>Footer</h2>
			<div id="cn-in-pd">			
				<dl id="cn-doc-dates" role="contentinfo">
					<dt><%= date_modified %>:</dt>
					<dd><span><time>2021-12-24</time></span></dd>
				</dl>
				<div id="cn-toppage-foot"><a href="" title="<%= goTopPage_title %>"><%= goTopPage_label %></a></div>
				<div id="cn-in-pd-links">
					<ul>
						<li id="cn-inotices-link"><a href="" rel="license"><%= license_title %></a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
</div>
